@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  // 50% {
  //   opacity: 0.5;
  //   transform: translateX(50rem);
  // }

  100% {
    opacity: 0;
    transform: translateX(100rem);
  }
}

@keyframes hideScrollbar {
  from,
  to {
    overflow-x: hidden;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
}
