*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is equal to (62.5% of default 16px = 10px, so 1rem = 10px)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: $default-font-color;
  background-color: $blue-darker;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
