body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  color: $blue-light;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: $red-light;
}
