.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  position: relative;
}

.section-cards {
  height: 90vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-settings {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
