.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  animation: moveOutRight 1s forwards;
  animation-play-state: paused;
  backface-visibility: hidden;
  position: relative;
}

.animated {
  animation-play-state: running;
}

.section-cards {
  display: none;
  position: absolute;
  animation-name: moveInLeft;
  height: 90vh;
  width: 95vw;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-200rem);
  animation-play-state: paused;
  transition: display 1s;

  &--play {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    animation-play-state: running;
  }
}

.section-settings {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
