/*
 * Mixin to help making the website responsive depending on
 * the breakpoint provided.
 *
 * breakpoints:
 * 390px(24.375em) -> [xxs]
 * 612px(38.25em) -> [xs]
 * 730px(45.625em) -> [s]
 * 856px(53.5em) -> [m]
 */
@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200rem);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 53.5em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 45.625em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 38.25em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 24.375em) {
  html {
    font-size: 31.25%;
  }
}

body {
  box-sizing: border-box;
  color: #ccc;
  background-color: #24305e;
  overflow: hidden;
  padding: 4rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  color: #a8d0e6;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #f76c6c;
}

#start-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  margin-top: 5rem;
}
#start-button__button {
  border: 1rem solid #f76c6c;
  border-radius: 10rem;
  width: 20%;
  height: 60%;
  background-color: #f8e9a1;
  color: #24305e;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  box-shadow: 0.5rem 0.5rem 0.2rem #161d39;
  transition: all 0.2s;
  outline: none;
}
#start-button__button:hover {
  transform: scale(1.3);
  box-shadow: 1rem 1rem 1rem #1a2344;
  cursor: pointer;
}
#start-button__button:active {
  transform: scale(1.25) translateY(0.5rem);
  box-shadow: 0.8rem 0.8rem 0.3rem #1a2344;
}

.card {
  perspective: 1000rem;
  height: 50%;
  position: absolute;
  outline: none;
  border-radius: 1rem;
  transition: all 0.2s;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1rem #333;
}
.card--not-finished {
  pointer-events: none;
}
.card:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 2rem #f8e9a1;
}
.card__icon {
  display: inline-block;
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.card__picture {
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1rem;
}
.card__side {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card__side--front {
  background-color: #f3de8a;
}
.card__side--front--rotated {
  transform: rotateY(-180deg);
}
.card__side--back {
  background-color: #f3de8a;
  transform: rotateY(180deg);
}
.card__side--back--rotated {
  transform: rotate(0);
}

.result-text {
  font-size: 28rem;
  z-index: 99;
  font-weight: 700;
  margin: 0 auto;
}
.result-text--success {
  color: #85ffc7;
}
.result-text--fail {
  color: #f76c6c;
}

.difficulty {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
}
@media (max-width: 45.625em) {
  .difficulty {
    margin-top: 2rem;
    display: block;
  }
}
.difficulty__box {
  margin: 2rem;
}
.difficulty__box__level {
  display: inline-block;
  transition: all 0.4s;
  border: 0.2rem solid #a8d0e6;
  color: #ccc;
  background-color: transparent;
  font-size: 3rem;
  border-radius: 10%;
  margin-top: 1rem;
  padding: 1rem;
  outline: none;
}
.difficulty__box__level:not(:last-child) {
  margin-right: 3rem;
}
.difficulty__box__level:hover {
  background-color: #a8d0e6;
  color: #374785;
  cursor: pointer;
}
.difficulty__box__level--active {
  background-color: #a8d0e6;
  color: #374785;
}

.active {
  color: #374785;
  background-color: #a8d0e6;
}

.theme-slider {
  display: inline-block;
  text-align: center;
}
@media (max-width: 45.625em) {
  .theme-slider {
    display: block;
  }
}
.theme-slider__text {
  font-size: 3rem;
  display: block;
}
.theme-slider .theme-carousel {
  display: flex;
  z-index: 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.theme-slider .theme-carousel__button {
  font-weight: 700;
  border: 0;
  font-size: 6rem;
  display: inline-block;
  padding: 0;
  margin: 0 2rem;
  vertical-align: middle;
  color: #a8d0e6;
  background-color: #24305e;
  transition: all 0.2s;
  outline: none;
}
.theme-slider .theme-carousel__button:hover, .theme-slider .theme-carousel__button:active {
  color: #474b4f;
  border: 0;
}
.theme-slider .theme-carousel__button--left {
  transform: rotateY(180deg);
}
.theme-slider .theme-carousel__content {
  display: inline-block;
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  width: 25rem;
  color: #f8e9a1;
}
.theme-slider .theme-carousel__span {
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
  color: #f8e9a1;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  position: relative;
}
@media (max-width: 45.625em) {
  .section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.section-cards {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-settings {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media (max-width: 45.625em) {
  .section-settings {
    display: block;
  }
}

.attribution {
  position: absolute;
  color: #aaa;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
