@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100rem);
  }
}
@keyframes hideScrollbar {
  from, to {
    overflow-x: hidden;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #ccc;
  background-color: #24305e;
  overflow: hidden;
  padding: 4rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  color: #a8d0e6;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #f76c6c;
}

#start-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  margin-top: 5rem;
}
#start-button__button {
  border: 1rem solid #f76c6c;
  border-radius: 10rem;
  width: 20%;
  height: 60%;
  background-color: #f8e9a1;
  color: #24305e;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  box-shadow: 0.5rem 0.5rem 0.2rem #161d39;
  transition: all 0.2s;
}
#start-button__button:hover {
  transform: scale(1.3);
  box-shadow: 1rem 1rem 1rem #1a2344;
  cursor: pointer;
}
#start-button__button:active {
  transform: scale(1.25) translateY(0.5rem);
  box-shadow: 0.8rem 0.8rem 0.3rem #1a2344;
}

.card {
  perspective: 2000rem;
  height: 20rem;
  position: relative;
}
.card__side {
  height: 20rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card__side--front {
  background-color: wheat;
}
.card__side--back {
  transform: rotateY(180deg);
  background-image: blue;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.difficulty {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  height: 100%;
}
.difficulty__box {
  margin: 2rem;
}
.difficulty__box--level {
  display: inline-block;
  transition: all 0.4s;
  border: 0.2rem solid #a8d0e6;
  color: #ccc;
  background-color: transparent;
  font-size: 3rem;
  border-radius: 10%;
  margin-top: 1rem;
}
.difficulty__box--level:not(:last-child) {
  margin-right: 3rem;
}
.difficulty__box--level:hover {
  background-color: #a8d0e6;
  color: #374785;
  cursor: pointer;
}

.theme-slider {
  display: inline-block;
  text-align: center;
}
.theme-slider__text {
  font-size: 3rem;
}
.theme-slider .theme-carousel {
  display: flex;
  z-index: 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.theme-slider .theme-carousel__button {
  font-weight: 700;
  border: 0;
  font-size: 6rem;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  color: #a8d0e6;
  background-color: #24305e;
  transition: all 0.2s;
}
.theme-slider .theme-carousel__button:hover, .theme-slider .theme-carousel__button:active {
  color: #474b4f;
  border: 0;
}
.theme-slider .theme-carousel__button--left {
  transform: rotateY(180deg);
}
.theme-slider .theme-carousel__content {
  display: inline-block;
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0 4rem 0 4rem;
  text-align: center;
  width: 55%;
  color: #f8e9a1;
}
.theme-slider .theme-carousel__span {
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
  color: #f8e9a1;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  animation: moveOutRight 1s forwards;
  animation-play-state: paused;
  backface-visibility: hidden;
  position: relative;
}

.animated {
  animation-play-state: running;
}

.section-cards {
  display: none;
}

.section-settings {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
