.card {
  perspective: 1000rem;
  height: 30rem;
  width: 20rem;
  position: relative;
  outline: none;

  &__side {
    height: 100%;
    width: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    &--front {
      background-color: wheat;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: blue;
    }
  }

  &--active {
    background-color: red;
    &__side {
      &--front {
        transform: rotateY(180deg);
      }
      &--back {
        transform: rotateY(180deg);
      }
    }
  }
}
