.card {
  perspective: 1000rem;
  height: 30rem;
  width: 20rem;
  position: relative;
  outline: none;
  border-radius: 1rem;
  vertical-align: middle;
  line-height: 35rem;
  transition: all 0.2s;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1rem #333;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 2rem $yellow;
  }

  &__icon {
    display: inline-block;
    height: 10rem;
  }

  &__side {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    &--front {
      background-color: $yellow-dark;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: blue;
    }
  }

  &-active &__side--front {
    transform: rotateY(-180deg);
  }

  &-active &__side--back {
    transform: rotateY(0);
  }
}
