.difficulty {
  display: inline-block;
  @include respond(s) {
    margin-top: 2rem;
    display: block;
  }
  text-align: center;
  font-size: 3rem;
  &__box {
    margin: 2rem;

    &__level {
      display: inline-block;
      transition: all 0.4s;
      border: 0.2rem solid $blue-light;
      color: $default-font-color;
      background-color: transparent;
      font-size: 3rem;
      border-radius: 10%;
      margin-top: 1rem;
      padding: 1rem;
      outline: none;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:hover {
        background-color: $blue-light;
        color: $blue-dark;
        cursor: pointer;
      }

      &--active {
        background-color: $blue-light;
        color: $blue-dark;
      }
    }
  }
}

.active {
  color: $blue-dark;
  background-color: $blue-light;
}
