.theme-carousel {
  display: flex;
  width: 50%;
  z-index: 0;
  border: 1px dashed red;
  justify-content: center;
  margin: 3% auto;
  align-items: center;

  &__button {
    font-weight: 700;
    border: 0;
    font-size: 6rem;
    padding: 0;
    vertical-align: middle;
    color: $blue-light;
    background-color: $blue-darker;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: $gray;
      border: 0;
    }

    &--left {
      transform: rotateY(180deg);
    }
  }

  &__content {
    display: inline-block;
    font-size: 6rem;
    font-weight: 300;
    margin: 2rem;
    color: $yellow;
  }
}

.span-theme {
  display: block;
  margin-top: 25vh;
  font-size: 3rem;
  text-align: center;
  color: $yellow;
}
