.theme-slider {
  display: inline-block;
  @include respond(s) {
    display: block;
  }
  text-align: center;
  &__text {
    font-size: 3rem;
    display: block;
  }

  .theme-carousel {
    display: flex;
    z-index: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    &__button {
      font-weight: 700;
      border: 0;
      font-size: 6rem;
      display: inline-block;
      padding: 0;
      margin: 0 2rem;
      vertical-align: middle;
      color: $blue-light;
      background-color: $blue-darker;
      transition: all 0.2s;
      outline: none;

      &:hover,
      &:active {
        color: $gray;
        border: 0;
      }

      &--left {
        transform: rotateY(180deg);
      }
    }

    &__content {
      display: inline-block;
      font-size: 6rem;
      font-weight: 300;
      text-transform: capitalize;
      text-align: center;
      width: 25rem;
      color: $yellow;
    }

    &__span {
      font-size: 3rem;
      text-align: center;
      flex-grow: 1;
      color: $yellow;
    }
  }
}
